.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: fixed;
  flex-direction: column;
  background: url("./assets/beach-background.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}

.user-table > p {
  margin: 0px 10px;
}

.users-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 110px;
  color: rgb(223, 246, 255);
  background: rgb(96, 111, 196);
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.createUser {
  display: flex;
  gap: 5px;
}

.main-container {
  display: flex;
  justify-content: center;
  /* margin-top: 8rem; */
  width: 100%;
  min-height: 100vh;
}
