.category-container {
  width: 85%;
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid black;
  h2 {
    margin: 3rem 0rem;
  }
  .backLink {
    text-decoration: none;
    color: $titleColor;
    align-self: flex-start;
    margin: 0.2rem 0rem;
    font-size: 1.1rem;
    font-weight: bold;
    &:hover {
      color: $primaryLinkColor;
    }
  }
}
