.category-container {
  width: 95%;
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  h2 {
    margin: 3rem 0rem;
  }
  .backLink {
    text-decoration: none;
    color: $titleColor;
    align-self: flex-start;
    margin: 0.2rem 0rem;
    font-size: 1.1rem;
    font-weight: bold;
    &:hover {
      color: $primaryLinkColor;
    }
  }
}
.category-outer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0rem;
}
.category-inner {
  width: 100%;
}

.post-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 25rem);
  gap: 2rem;
  // padding-top: 2rem;
  align-items: center;
  justify-content: center;
}
