.profile-container {
  width: 100%;
  // border: 1px solid rgb(202, 76, 76);
  // height: 18rem;
  display: flex;
  margin-top: 6rem;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.profile-inner {
  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  // position: relative;
}
.profile-left {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.posts-container-profile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem;
}

@media (max-width: 700px) {
  .profile-inner {
    flex-direction: column-reverse;
  }
}
