.profile-container {
  width: 100%;
  // border: 1px solid rgb(202, 76, 76);
  // height: 18rem;
  display: flex;
  margin-top: 6rem;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  h1 {
    margin: 1rem 0rem;
    font-family: $titleLogoFont;
  }
  h2 {
    font-family: $titleLogoFont;
  }
  span {
    color: $titleColor;
  }
  .searchBar {
    margin-top: 1rem;
    width: 100%;

    input {
      padding-left: 0.4rem;
      margin: 0.2rem;
      border-radius: 0.5rem;
      width: 80%;
      height: 2rem;
      border: 0.5px grey solid;
    }
  }
}
.profile-inner {
  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  // position: relative;
}
.profile-left {
  width: 80%;
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.profile-right {
  margin-top: 3rem;
}
.posts-container-profile {
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  gap: 2rem;
  padding: 2rem 0rem;
}

@media (max-width: 880px) {
  .profile-inner {
    flex-direction: column-reverse;
  }
  .profile-inner {
    align-items: center;
  }
}
