.updatePost-container {
  width: 100%;

  display: flex;
  margin-top: 6rem;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  .backtoPosts {
    color: $titleColor;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: bold;
    align-self: flex-start;
    margin: 0.2rem 1rem;
    cursor: pointer;
  }
}
.selectbar {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  width: 100%;
  margin-top: 0.5rem;
}
