$primaryLinkColor: rgb(70, 69, 69);
$navbarHoverColor: rgb(247, 239, 227);
$titleColor: rgb(12, 153, 185);
$loginLogoutTitle: rgb(73, 73, 101);
$secondaryColor: #d2ebe8;
$thirdColor: rgb(55, 95, 85);
$btnColor: rgb(52, 125, 106);
$boxShadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
$titleLogoFont: "Handlee", cursive;
