.navbar-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 6rem;
  position: fixed;
  top: 0;
  background: url("../assets/navbar.JPG") no-repeat center center/cover;
  background: #d2ebe8;
  z-index: 1;
}

.navbar-inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0rem 2rem;
}

.right-container {
  display: flex;
  margin-right: 3rem;
}

.right-container a {
  padding: 0.5rem 0.5rem;
  margin: 0px 0.2rem;
  text-decoration: none;
  color: rgb(70, 69, 69);
  font-size: 0.9rem;
  font-weight: bold;
  transition: 0.3s;
  width: 5rem;
  background: rgb(247, 239, 227);
  border-radius: 1.2rem;
}
.right-container a:hover {
  color: rgb(247, 239, 227);
  background: rgb(12, 153, 185);
}
.right-container a.active {
  background: rgb(12, 153, 185);
  color: rgb(247, 239, 227);
}

a.logout.active {
  background: rgb(247, 239, 227);
  color: rgb(70, 69, 69);
}
a.logout.active:hover {
  color: rgb(247, 239, 227);
  background: rgb(12, 153, 185);
}

.logo {
  /* margin-left: 0.8rem; */
  font-size: 1.7rem;
  font-weight: bold;
  color: #c8fafa;
  margin-left: 3rem;
}

.logo a {
  padding: 0.5rem 0rem;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 2px rgb(12, 153, 185);
  font-size: 2rem;
  font-weight: bold;
  font-family: "Handlee", cursive;
}

.logo img {
  width: 80px;
}

.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainPage {
  width: 100%;
  display: flex;
  margin-top: 6rem;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.mainPage h1 {
  margin-top: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6470588235);
  color: rgb(12, 153, 185);
}
.mainPage h2 {
  margin: 1rem 0rem 3rem 0rem;
  color: rgb(12, 153, 185);
}
.mainPage span {
  color: orange;
  font-family: "Handlee", cursive;
  font-size: 2.3rem;
}

.categories-container {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 12rem);
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.categoryBox {
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.categoryBox:hover {
  transform: scale(1.05);
}

.catgoryImage img {
  width: 12rem;
  height: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
  display: block;
}

.categoryName {
  position: absolute;
  padding: 0.5rem;
  background: rgba(239, 239, 239, 0.305);
  font-weight: bold;
  border-radius: 1rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.5s;
  font-size: 1.5rem;
}
.categoryName p {
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  color: white;
  text-shadow: 2px 2px 6px #000000;
}
.categoryName:hover {
  background: none;
  font-size: 1.7rem;
}

.category-container {
  width: 100%;
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.category-container h2 {
  margin: 0rem 0rem 1rem 0rem;
  font-family: "Handlee", cursive;
  font-size: 3rem;
}
.category-container .backLink {
  text-decoration: none;
  color: rgb(12, 153, 185);
  cursor: pointer;
  align-self: flex-start;
  margin: 0.2rem 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}
.category-container .backLink:hover {
  color: rgb(70, 69, 69);
}

.category-outer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2rem;
}

.category-inner {
  width: 100%;
}

.post-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.topBar {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.topBar .searchBar {
  width: 70%;
}
.topBar .searchBar input {
  padding-left: 0.4rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
  width: 80%;
  height: 2rem;
  border: 0.5px grey solid;
}

.createPost-container {
  width: 360px;
  min-height: 30rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #d2ebe8;
  border-radius: 2rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.createPost-container h2 {
  color: rgb(55, 95, 85);
}

.field {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0rem 1.2rem;
}

#title {
  width: 100%;
  margin: 0;
}

#description {
  padding: 0.2rem;
  border-radius: 0.5rem;
  width: 100%;
  border: none;
}

@media (max-width: 700px) {
  .createPost-container {
    position: relative;
    top: 0;
    right: 0;
  }
}
.homepage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.welcome {
  width: 60%;
  min-height: 25rem;
  display: grid;
  border-radius: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.left-welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}
.left-welcome h1 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
  color: rgb(12, 153, 185);
}
.left-welcome h1:nth-child(2) {
  font-size: 2.8rem;
  color: orange;
  font-family: "Handlee", cursive;
}
.left-welcome h3 {
  margin: 0.1rem;
  font-size: 1.5rem;
}
.left-welcome h3:nth-child(6) {
  margin-top: 1.2rem;
}
.left-welcome h4 {
  margin-top: 2rem;
}
.left-welcome a {
  text-decoration: none;
  color: orange;
}
.left-welcome a:hover {
  color: rgb(80, 215, 245);
}

.right-welcome {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-container {
  width: 100%;
  display: flex;
  margin-top: 6rem;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.profile-container h1 {
  margin: 1rem 0rem;
  font-family: "Handlee", cursive;
}
.profile-container h2 {
  font-family: "Handlee", cursive;
}
.profile-container span {
  color: rgb(12, 153, 185);
}

.profile-inner {
  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.profile-left {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-right {
  margin-top: 3rem;
}

.posts-container-profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

@media (max-width: 700px) {
  .profile-inner {
    flex-direction: column-reverse;
  }
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2.5rem 0;
  margin-top: 10rem;
  background: rgba(165, 192, 192, 0.192);
  border-radius: 1.5rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2.5rem 0;
  background: rgba(165, 192, 192, 0.192);
  border-radius: 1.5rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.signup-container h1 {
  color: rgb(73, 73, 101);
}

.login-container > h1 {
  color: rgb(73, 73, 101);
  margin: 0;
}

form {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  border: none;
  padding-left: 0.4rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
  width: 14rem;
  height: 2rem;
  box-sizing: border-box;
}

input::-moz-placeholder {
  color: rgb(144, 143, 143);
}

input:-ms-input-placeholder {
  color: rgb(144, 143, 143);
}

input::placeholder {
  color: rgb(144, 143, 143);
}

.login-btn {
  color: rgb(223, 246, 255);
  background: rgb(118, 118, 160);
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  width: 14rem;
}

.login-btn:hover {
  background: rgb(90, 90, 123);
  color: white;
}

.sign-up-link {
  margin: 0.3rem 0 0 0;
}

.sign-up-link a {
  text-decoration: none;
  color: rgb(90, 90, 123);
  font-weight: bold;
}

.sign-up-link a:hover {
  color: white;
}

.login-container hr,
.signup-container hr {
  width: 15rem;
  margin-bottom: 2rem;
}

.post-container {
  width: 25rem;
  height: 26rem;
  overflow: hidden;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.805);
  border-radius: 2rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post-container a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(34, 34, 165);
}
.post-container a:hover {
  color: rgb(219, 105, 17);
}
.post-container .cat-Link {
  font-size: 1rem;
}
.post-container .fa-tags {
  color: grey;
}
.post-container .fa-thumbs-up {
  margin-right: 0.3rem;
}
.post-container .post-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-container .post-buttons .fa-pen-to-square {
  color: rgb(50, 144, 50);
  width: 2rem;
}
.post-container .post-buttons .fa-x {
  color: rgb(199, 71, 71);
}
.post-container .createdBy,
.post-container .updatedAt {
  color: grey;
  font-size: 0.8rem;
}

.postImage img {
  border-radius: 50%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  width: 270px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}

.postTitle h3 {
  font-size: 1.1rem;
}

.cat-update-delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cat-update-delete button {
  padding: 0.3rem 0.5rem;
  margin: 0rem 0.2rem;
}

.post-page-container {
  width: 100%;
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.post-page-container .backtoPosts {
  color: rgb(12, 153, 185);
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: bold;
  align-self: flex-start;
  margin: 0.2rem 1rem;
  cursor: pointer;
}

.post-page-inner {
  width: 65%;
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid rgb(214, 214, 214);
  gap: 0.3rem;
  background: white;
}
.post-page-inner h2 {
  text-align: left;
  margin-bottom: 0.5rem;
}
.post-page-inner img {
  width: 600px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.post-page-inner .createdBy,
.post-page-inner .updatedAt {
  color: grey;
}
.post-page-inner a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(34, 34, 165);
}
.post-page-inner a:hover {
  color: rgb(219, 105, 17);
}
.post-page-inner .post-desc {
  margin: 1rem 0rem;
}
.post-page-inner .post-desc p {
  text-align: left;
}
.post-page-inner .cat-Link {
  font-size: 1rem;
}
.post-page-inner .fa-tags {
  color: grey;
}
.post-page-inner .cat-Link {
  font-size: 1rem;
}

@media (max-width: 800px) {
  .post-page-inner {
    width: 90%;
  }
}
.updatePost-container {
  width: 100%;
  display: flex;
  margin-top: 6rem;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.updatePost-container .backtoPosts {
  color: rgb(12, 153, 185);
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: bold;
  align-self: flex-start;
  margin: 0.2rem 1rem;
  cursor: pointer;
}

.selectbar {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  width: 100%;
  margin-top: 0.5rem;
}

.user-manager {
  display: flex;
  margin: 1rem;
  gap: 1rem;
  color: rgb(223, 82, 82);
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: fixed;
  flex-direction: column;
  background: url("../assets/backGROUND.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}

.main-container {
  display: flex;
  justify-content: center;
  /* margin-top: 8rem; */
  width: 100%;
  min-height: 100vh;
}

.spinner {
  margin-top: 1rem;
}

.spinner img {
  height: 4rem;
}

.btn {
  background: rgb(247, 239, 227);
  color: rgb(70, 69, 69);
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  font-family: "Sawarabi Gothic", sans-serif;
  border-radius: 2rem;
  border: 1px solid rgb(206, 186, 155);
  font-weight: bold;
  transition: 0.3s;
}
.btn:hover {
  background: rgb(235, 228, 216);
}/*# sourceMappingURL=App.css.map */