@import "./variables";
@import "./navabar";
@import "./main";
@import "./category";
@import "./createPost";
@import "./homePage";
@import "./profilePage";
@import "./loginLogoutPages";
@import "./postDiv";
@import "./postPage";
@import "./updatepost";
@import "./userManagerDiv";
@import "./updateUser";

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: fixed;
  flex-direction: column;
  // background: url("../assets/beach-background.jpg") no-repeat center center/cover;
  background: url("../assets/backGROUND.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}

.main-container {
  display: flex;
  justify-content: center;
  /* margin-top: 8rem; */
  width: 100%;
  min-height: 100vh;
}

.spinner {
  margin-top: 1rem;
}
.spinner img {
  height: 4rem;
}
.btn {
  background: $navbarHoverColor;
  color: $primaryLinkColor;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  font-family: "Sawarabi Gothic", sans-serif;
  border-radius: 2rem;
  border: 1px solid rgb(206, 186, 155);
  font-weight: bold;
  transition: 0.3s;
  &:hover {
    background: rgb(235, 228, 216);
  }
}
